body {
    margin: 0;
    background-color: rgba(255, 0, 0, 0.3);
}
  
.main-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 30px;
    background-color: white;
    height: 580px;
    width: 400px;
    box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.08);
}
  
.nav-head {
    display: flex;
    /* background-color: rgba(255, 145, 0, 0.295); */
    height: 70px;
    border-radius: 30px 30px 0px 0px;
}
  
.Play-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.play-text-1 {
    display: flex;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 100%;
    font-weight: bolder;
    cursor: pointer;
}

.play-text-2 {
    display: flex;
    margin-left: 30px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 100%;
    font-weight: bolder;
    cursor: pointer;
}

.img-1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    opacity: 95%;
}

.music-title {
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 23px;
    margin-top: 20px;
}

.music-singer {
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    opacity: 60%;
}

.footer {
    display: flex;
    /* background-color: black; */
    border-radius: 0 0 30px 30px;
}

.player-btn {
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: red;
    cursor: pointer;
}